.popular {
    width: 72%;
    margin: 50px auto;
}

.popular__slide>a {
    text-decoration: none;
}

.popular__slide>a>img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    background: transparent;
    transition: all .3s;
}

.popular__slide>a>p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
}

.popular__slide>a>p:hover {
    color: var(--hover-color);
}

.splide__arrow.splide__arrow--prev {
    position: absolute;
    top: 33%;
    left: 0;
    transform: translate(-180%, -50%);
    color: black;
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
}

.splide__arrow.splide__arrow--next {
    position: absolute;
    top: 33%;
    right: 0;
    transform: translate(180%, -50%);
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
}

.splide__arrow.splide__arrow--prev>svg>path,
.splide__arrow.splide__arrow--next>svg>path {
    fill: black;
}

.splide__arrow.splide__arrow--prev:hover,
.splide__arrow.splide__arrow--next:hover {
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
    border: none;
}

.splide__arrow.splide__arrow--prev:hover>svg>path,
.splide__arrow.splide__arrow--next:hover>svg>path {
    fill: white;
}